<div id="login">
	<div id="login-text">
	    <h1>Trax</h1>
	    <h4>Trax allows you to create a Spotify playlist collaboratively with others. Unlike the traditional Spotify collaborative playlist, Trax allows non-Spotify users to add to a playlist and only requires the original playlist creator to login to Spotify. With minimal barriers to participating, it's an excellent way to create a new playlist for a roadtrip, party, hackathon, or team project.</h4>
	    <h4>To continue, please login below.</h4>
	</div>

    <a href="/login" id = "login-button" class="btn btn-primary">Log in with Spotify</a>
</div>